

<footer style="
    position: absolute;
    width: 100%;">

  <p>&copy; <script>
    data = new Date()
    ano = data.getFullYear()
  
  document.write(ano)

  </script> - Library App</p>

</footer>

</div>

</body>

</html>