<%- include("_header") -%>

<h1>About Library App</h1><br>

<h5> This app was made for studies purpose </h5><br>

<p>Made by : Rodrigo da Silva Santos </p>
<p> <a href="https://www.linkedin.com/in/rodrigo-santos-4a9319194/" target="_blank">Linkedin</a></p>

<p>I hope you enjoy it </p>

<%- include("_footer") -%>
